In [1]:
import pandas as pd
import numpy as np
import lightgbm as lgb
from scipy import sparse as ssp
from sklearn.model_selection import StratifiedKFold
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import roc_auc_score
from sklearn import datasets, linear_model, metrics
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings("ignore")
import time

In [2]:
train_df = pd.read_pickle('Train_final_data.pkl')
test_df = pd.read_pickle('Test_final_data')

In [14]:
def creating_dfg_variables(train_df,val,test_df):
    # 5. Creating default to gross variables
    
    
    df_supplier_id_ftg      = pd.DataFrame(train_df.groupby('supplier_id')['loan_default'].apply(lambda x: x.sum()/x.count() if x.count() >=20 else 0)).rename(columns = {'loan_default': 'supplier_id_ftg'})
    df_branch_id_ftg        = pd.DataFrame(train_df.groupby('branch_id')['loan_default'].apply(lambda x: x.sum()/x.count() if x.count() >=20 else 0)).rename(columns = {'loan_default': 'branch_id_ftg'})
    df_manufacturer_id_ftg  = pd.DataFrame(train_df.groupby('manufacturer_id')['loan_default'].apply(lambda x: x.sum()/x.count() if x.count() >=20 else 0)).rename(columns = {'loan_default': 'manufacturer_id_ftg'})
    df_pincode_id_ftg       = pd.DataFrame(train_df.groupby('Current_pincode_ID')['loan_default'].apply(lambda x: x.sum()/x.count() if x.count() >=20  else 0)).rename(columns = {'loan_default': 'pincode_id_ftg'})
    df_state_id_ftg         = pd.DataFrame(train_df.groupby('State_ID')['loan_default'].apply(lambda x: x.sum()/x.count() if x.count() >=20  else 0)).rename(columns = {'loan_default': 'state_id_ftg'})
    df_employee_code_id_ftg = pd.DataFrame(train_df.groupby('Employee_code_ID')['loan_default'].apply(lambda x: x.sum()/x.count() if x.count() >=20 else 0)).rename(columns = {'loan_default': 'employee_code_id_ftg'})
    df_combo_state_pin_ftg = pd.DataFrame(train_df.groupby(['State_ID','Current_pincode_ID'])['loan_default']\
                                          .apply(lambda x: x.sum()/x.count() if x.count() >=20 else 0))\
                                            .rename(columns = {'loan_default': 'state_pin_code_ftg'})
    df_combo_state_pin_supp_ftg = pd.DataFrame(train_df.groupby(['State_ID','Current_pincode_ID','supplier_id'])['loan_default']\
                                          .apply(lambda x: x.sum()/x.count() if x.count() >=20 else 0))\
                                            .rename(columns = {'loan_default': 'state_pin_code_supp_ftg'})
        
    train_df['supplier_id_ftg'] = df_supplier_id_ftg.loc[train_df.supplier_id ,'supplier_id_ftg'].values
    train_df['branch_id_ftg'] = df_branch_id_ftg.loc[train_df.branch_id ,'branch_id_ftg'].values
    train_df['manufacturer_id_ftg'] = df_manufacturer_id_ftg.loc[train_df.manufacturer_id ,'manufacturer_id_ftg'].values
    train_df['pincode_id_ftg'] = df_pincode_id_ftg.loc[train_df.Current_pincode_ID ,'pincode_id_ftg'].values
    train_df['state_id_ftg'] = df_state_id_ftg.loc[train_df.State_ID ,'state_id_ftg'].values
    train_df['employee_code_id_ftg'] = df_employee_code_id_ftg.loc[train_df.Employee_code_ID ,'employee_code_id_ftg'].values
    train_df = pd.merge(train_df, df_combo_state_pin_ftg.reset_index(), on = ['State_ID','Current_pincode_ID'], how = 'left')
    train_df = pd.merge(train_df, df_combo_state_pin_supp_ftg.reset_index(), on = ['State_ID','Current_pincode_ID','supplier_id'], how = 'left')

    val['supplier_id_ftg'] = df_supplier_id_ftg.loc[val.supplier_id ,'supplier_id_ftg'].values
    val['branch_id_ftg'] = df_branch_id_ftg.loc[val.branch_id ,'branch_id_ftg'].values
    val['manufacturer_id_ftg'] = df_manufacturer_id_ftg.loc[val.manufacturer_id ,'manufacturer_id_ftg'].values
    val['pincode_id_ftg'] = df_pincode_id_ftg.loc[val.Current_pincode_ID ,'pincode_id_ftg'].values
    val['state_id_ftg'] = df_state_id_ftg.loc[val.State_ID ,'state_id_ftg'].values
    val['employee_code_id_ftg'] = df_employee_code_id_ftg.loc[val.Employee_code_ID ,'employee_code_id_ftg'].values
    val = pd.merge(val, df_combo_state_pin_ftg.reset_index(), on = ['State_ID','Current_pincode_ID'], how = 'left')
    val = pd.merge(val, df_combo_state_pin_supp_ftg.reset_index(), on = ['State_ID','Current_pincode_ID','supplier_id'], how = 'left')

    test_df['supplier_id_ftg'] = df_supplier_id_ftg.loc[test_df.supplier_id ,'supplier_id_ftg'].values
    test_df['branch_id_ftg'] = df_branch_id_ftg.loc[test_df.branch_id ,'branch_id_ftg'].values
    test_df['manufacturer_id_ftg'] = df_manufacturer_id_ftg.loc[test_df.manufacturer_id ,'manufacturer_id_ftg'].values
    test_df['pincode_id_ftg'] = df_pincode_id_ftg.loc[test_df.Current_pincode_ID ,'pincode_id_ftg'].values
    test_df['state_id_ftg'] = df_state_id_ftg.loc[test_df.State_ID ,'state_id_ftg'].values
    test_df['employee_code_id_ftg'] = df_employee_code_id_ftg.loc[test_df.Employee_code_ID ,'employee_code_id_ftg'].values
    test_df = pd.merge(test_df, df_combo_state_pin_ftg.reset_index(), on = ['State_ID','Current_pincode_ID'], how = 'left')
    test_df = pd.merge(test_df, df_combo_state_pin_supp_ftg.reset_index(), on = ['State_ID','Current_pincode_ID','supplier_id'], how = 'left')
    
    return train_df,val,test_df

In [21]:
train_df['branch_id'] =train_df['branch_id'].astype('int32')
train_df['supplier_id'] =train_df['supplier_id'].astype('int32')
train_df['manufacturer_id'] =train_df['manufacturer_id'].astype('int32')
train_df['Current_pincode_ID'] =train_df['Current_pincode_ID'].astype('int32')

train_df['State_ID'] =train_df['State_ID'].astype('int32')
train_df['Employee_code_ID'] =train_df['Employee_code_ID'].astype('int32')


test_df['branch_id'] =test_df['branch_id'].astype('int32')
test_df['supplier_id'] =test_df['supplier_id'].astype('int32')
test_df['manufacturer_id'] =test_df['manufacturer_id'].astype('int32')
test_df['Current_pincode_ID'] =test_df['Current_pincode_ID'].astype('int32')

test_df['State_ID'] =test_df['State_ID'].astype('int32')
test_df['Employee_code_ID'] =test_df['Employee_code_ID'].astype('int32')

In [35]:
# train_df.dtypes
test_df.isnull().sum()

UniqueID                                  0
disbursed_amount                          0
asset_cost                                0
ltv                                       0
branch_id                                 0
supplier_id                               0
manufacturer_id                           0
Current_pincode_ID                        0
Date.of.Birth                             0
Employment.Type                        3443
DisbursalDate                             0
State_ID                                  0
Employee_code_ID                          0
MobileNo_Avl_Flag                         0
Aadhar_flag                               0
PAN_flag                                  0
VoterID_flag                              0
Driving_flag                              0
Passport_flag                             0
PERFORM_CNS.SCORE                         0
PERFORM_CNS.SCORE.DESCRIPTION             0
PRI.NO.OF.ACCTS                           0
PRI.ACTIVE.ACCTS                          0
PRI.OVERDUE.ACCTS                         0
PRI.CURRENT.BALANCE                       0
PRI.SANCTIONED.AMOUNT                     0
PRI.DISBURSED.AMOUNT                      0
SEC.NO.OF.ACCTS                           0
SEC.ACTIVE.ACCTS                          0
SEC.OVERDUE.ACCTS                         0
SEC.CURRENT.BALANCE                       0
SEC.SANCTIONED.AMOUNT                     0
SEC.DISBURSED.AMOUNT                      0
PRIMARY.INSTAL.AMT                        0
SEC.INSTAL.AMT                            0
NEW.ACCTS.IN.LAST.SIX.MONTHS              0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS       0
AVERAGE.ACCT.AGE                          0
CREDIT.HISTORY.LENGTH                     0
NO.OF_INQUIRIES                           0
loan_default                              0
Age_at_disbursaldate                      0
Total_verification_flags                  0
Disbursal_Month                           0
Disbursal_Day                             0
VoterId_Pan_flag_Combo                    0
Converted_AVERAGE.ACCT.AGE                0
Converted_CREDIT.HISTORY.LENGTH           0
Employment_ind                            0
catg_pin_temp                           744
catg_emp_code_temp                     1412
catg_supp_id_temp                       754
supplier_id_ftg                         809
branch_id_ftg                             0
manufacturer_id_ftg                       1
pincode_id_ftg                         1023
state_id_ftg                              0
employee_code_id_ftg                   1560
dtype: int64

### Creating Data for K fold Cross Validation 
 Important point to note is that there should be no transfer of information between train and validation set

In [22]:
skf = StratifiedKFold(n_splits= 5, shuffle= True,random_state= 5)

In [27]:
def create_bins(df,varname, nbins= 15):
    df["catg"+varname] = pd.cut(df.varname, nbins)

In [61]:
count = 1
for (trn_idx,val_idx) in skf.split(train_df,train_df['loan_default']):
    train_x,val_x = train_df.iloc[trn_idx], train_df.iloc[val_idx]
    train_y,val_y= train_df.iloc[trn_idx]['loan_default'],train_df.iloc[val_idx]['loan_default'] 
    
    
    print(train_x.shape, train_y.shape)
    train_x,val_x,test = creating_dfg_variables(train_x,val_x,test_df)
    catg_list= ['branch_id_ftg','supplier_id_ftg','manufacturer_id_ftg','pincode_id_ftg','state_id_ftg','employee_code_id_ftg']
    for col in catg_list:
        ser , bins = pd.qcut(train_x[col],15, retbins=True,duplicates= 'drop')
        print(ser,bins)
        train_x["catg_"+col] = pd.cut(train_x[col], bins = bins)
        val_x["catg_"+col] = pd.cut(val_x[col], bins = bins)
        test["catg_"+col] = pd.cut(test[col], bins = bins)
    
    train_x.to_pickle(".//CV_dataset//"+"train_"+str(count)+".csv")
    val_x.to_pickle(".//CV_dataset//"+"val_"+str(count)+".csv")
    test.to_pickle(".//CV_dataset//"+"test_"+str(count)+".csv")
    count+=1

(186522, 52) (186522,)
0         (0.185, 0.191]
1         (0.185, 0.191]
2         (0.185, 0.191]
3         (0.185, 0.191]
4         (0.185, 0.191]
5         (0.185, 0.191]
6         (0.185, 0.191]
7         (0.185, 0.191]
8         (0.185, 0.191]
9         (0.185, 0.191]
10        (0.185, 0.191]
11        (0.185, 0.191]
12        (0.185, 0.191]
13        (0.185, 0.191]
14        (0.185, 0.191]
15        (0.185, 0.191]
16        (0.185, 0.191]
17        (0.185, 0.191]
18        (0.185, 0.191]
19        (0.185, 0.191]
20        (0.185, 0.191]
21        (0.185, 0.191]
22        (0.185, 0.191]
23        (0.185, 0.191]
24        (0.185, 0.191]
25        (0.185, 0.191]
26        (0.185, 0.191]
27        (0.185, 0.191]
28        (0.185, 0.191]
29        (0.185, 0.191]
               ...
186492    (0.236, 0.276]
186493    (0.236, 0.276]
186494    (0.236, 0.276]
186495    (0.236, 0.276]
186496    (0.236, 0.276]
186497    (0.236, 0.276]
186498    (0.236, 0.276]
186499    (0.236, 0.276]
186500    (0.236, 0.276]
186501    (0.236, 0.276]
186502    (0.236, 0.276]
186503    (0.236, 0.276]
186504    (0.236, 0.276]
186505    (0.236, 0.276]
186506    (0.236, 0.276]
186507    (0.177, 0.181]
186508    (0.177, 0.181]
186509    (0.177, 0.181]
186510    (0.177, 0.181]
186511    (0.177, 0.181]
186512    (0.177, 0.181]
186513    (0.177, 0.181]
186514    (0.177, 0.181]
186515    (0.177, 0.181]
186516    (0.177, 0.181]
186517    (0.177, 0.181]
186518    (0.177, 0.181]
186519    (0.181, 0.185]
186520    (0.181, 0.185]
186521    (0.181, 0.185]
Name: branch_id_ftg, Length: 186522, dtype: category
Categories (15, interval[float64]): [(0.129, 0.151] < (0.151, 0.177] < (0.177, 0.181] < (0.181, 0.185] ... (0.236, 0.276] < (0.276, 0.282] < (0.282, 0.294] < (0.294, 0.333]] [0.13015792 0.15068493 0.17684669 0.18143933 0.18511124 0.19103722
 0.19307832 0.20153551 0.21274259 0.2204918  0.22413088 0.23571429
 0.27570655 0.28213529 0.29422067 0.33311667]
0           (0.342, 0.762]
1           (0.342, 0.762]
2           (0.342, 0.762]
3           (0.342, 0.762]
4           (0.342, 0.762]
5           (0.342, 0.762]
6           (0.342, 0.762]
7           (0.342, 0.762]
8           (0.342, 0.762]
9           (0.342, 0.762]
10          (0.342, 0.762]
11          (0.342, 0.762]
12          (0.342, 0.762]
13          (0.342, 0.762]
14          (0.342, 0.762]
15          (0.342, 0.762]
16          (0.342, 0.762]
17          (0.342, 0.762]
18          (0.342, 0.762]
19         (0.0816, 0.122]
20          (0.342, 0.762]
21          (0.342, 0.762]
22          (0.342, 0.762]
23          (0.342, 0.762]
24          (0.342, 0.762]
25          (0.342, 0.762]
26          (0.342, 0.762]
27         (0.0816, 0.122]
28          (0.342, 0.762]
29          (0.342, 0.762]
                ...
186492    (-0.001, 0.0816]
186493    (-0.001, 0.0816]
186494    (-0.001, 0.0816]
186495    (-0.001, 0.0816]
186496    (-0.001, 0.0816]
186497    (-0.001, 0.0816]
186498    (-0.001, 0.0816]
186499    (-0.001, 0.0816]
186500    (-0.001, 0.0816]
186501    (-0.001, 0.0816]
186502    (-0.001, 0.0816]
186503    (-0.001, 0.0816]
186504    (-0.001, 0.0816]
186505    (-0.001, 0.0816]
186506    (-0.001, 0.0816]
186507      (0.156, 0.171]
186508        (0.3, 0.342]
186509      (0.122, 0.143]
186510      (0.122, 0.143]
186511      (0.122, 0.143]
186512      (0.156, 0.171]
186513      (0.122, 0.143]
186514      (0.156, 0.171]
186515      (0.122, 0.143]
186516      (0.122, 0.143]
186517      (0.122, 0.143]
186518    (-0.001, 0.0816]
186519        (0.271, 0.3]
186520        (0.271, 0.3]
186521        (0.271, 0.3]
Name: supplier_id_ftg, Length: 186522, dtype: category
Categories (15, interval[float64]): [(-0.001, 0.0816] < (0.0816, 0.122] < (0.122, 0.143] < (0.143, 0.156] ... (0.254, 0.271] < (0.271, 0.3] < (0.3, 0.342] < (0.342, 0.762]] [0.         0.08163265 0.12195122 0.14285714 0.15625    0.17073171
 0.18181818 0.19753086 0.21052632 0.22535211 0.23809524 0.25423729
 0.27142857 0.3        0.34177215 0.76190476]
0          (0.219, 0.228]
1          (0.219, 0.228]
2          (0.219, 0.228]
3          (0.219, 0.228]
4          (0.219, 0.228]
5          (0.219, 0.228]
6          (0.219, 0.228]
7          (0.219, 0.228]
8          (0.219, 0.228]
9          (0.219, 0.228]
10         (0.219, 0.228]
11         (0.219, 0.228]
12         (0.219, 0.228]
13         (0.219, 0.228]
14         (0.219, 0.228]
15         (0.219, 0.228]
16         (0.219, 0.228]
17         (0.219, 0.228]
18         (0.219, 0.228]
19        (-0.001, 0.205]
20         (0.219, 0.228]
21         (0.219, 0.228]
22         (0.219, 0.228]
23         (0.219, 0.228]
24         (0.219, 0.228]
25         (0.219, 0.228]
26         (0.219, 0.228]
27        (-0.001, 0.205]
28         (0.219, 0.228]
29         (0.219, 0.228]
               ...
186492     (0.218, 0.219]
186493     (0.218, 0.219]
186494     (0.218, 0.219]
186495     (0.218, 0.219]
186496     (0.218, 0.219]
186497     (0.218, 0.219]
186498     (0.218, 0.219]
186499     (0.218, 0.219]
186500     (0.218, 0.219]
186501     (0.218, 0.219]
186502     (0.218, 0.219]
186503     (0.218, 0.219]
186504     (0.218, 0.219]
186505     (0.218, 0.219]
186506     (0.218, 0.219]
186507    (-0.001, 0.205]
186508     (0.219, 0.228]
186509     (0.228, 0.275]
186510     (0.228, 0.275]
186511     (0.228, 0.275]
186512    (-0.001, 0.205]
186513     (0.228, 0.275]
186514    (-0.001, 0.205]
186515     (0.228, 0.275]
186516     (0.228, 0.275]
186517     (0.228, 0.275]
186518     (0.205, 0.207]
186519    (-0.001, 0.205]
186520    (-0.001, 0.205]
186521    (-0.001, 0.205]
Name: manufacturer_id_ftg, Length: 186522, dtype: category
Categories (6, interval[float64]): [(-0.001, 0.205] < (0.205, 0.207] < (0.207, 0.218] < (0.218, 0.219] < (0.219, 0.228] < (0.228, 0.275]] [0.         0.20472001 0.20714646 0.21811302 0.21870934 0.22796736
 0.27507825]
0         (-0.001, 0.116]
1         (-0.001, 0.116]
2          (0.213, 0.224]
3         (-0.001, 0.116]
4         (-0.001, 0.116]
5         (-0.001, 0.116]
6          (0.213, 0.224]
7         (-0.001, 0.116]
8         (-0.001, 0.116]
9          (0.187, 0.198]
10         (0.213, 0.224]
11        (-0.001, 0.116]
12          (0.138, 0.16]
13          (0.138, 0.16]
14        (-0.001, 0.116]
15          (0.138, 0.16]
16        (-0.001, 0.116]
17         (0.213, 0.224]
18        (-0.001, 0.116]
19        (-0.001, 0.116]
20          (0.138, 0.16]
21        (-0.001, 0.116]
22        (-0.001, 0.116]
23         (0.213, 0.224]
24         (0.213, 0.224]
25        (-0.001, 0.116]
26        (-0.001, 0.116]
27          (0.138, 0.16]
28         (0.213, 0.224]
29         (0.213, 0.224]
               ...
186492    (-0.001, 0.116]
186493    (-0.001, 0.116]
186494    (-0.001, 0.116]
186495    (-0.001, 0.116]
186496    (-0.001, 0.116]
186497    (-0.001, 0.116]
186498      (0.138, 0.16]
186499    (-0.001, 0.116]
186500    (-0.001, 0.116]
186501     (0.116, 0.138]
186502    (-0.001, 0.116]
186503    (-0.001, 0.116]
186504    (-0.001, 0.116]
186505    (-0.001, 0.116]
186506    (-0.001, 0.116]
186507      (0.16, 0.174]
186508     (0.116, 0.138]
186509      (0.138, 0.16]
186510     (0.116, 0.138]
186511     (0.213, 0.224]
186512     (0.198, 0.213]
186513     (0.116, 0.138]
186514     (0.244, 0.269]
186515     (0.116, 0.138]
186516     (0.116, 0.138]
186517      (0.16, 0.174]
186518      (0.16, 0.174]
186519    (-0.001, 0.116]
186520    (-0.001, 0.116]
186521    (-0.001, 0.116]
Name: pincode_id_ftg, Length: 186522, dtype: category
Categories (13, interval[float64]): [(-0.001, 0.116] < (0.116, 0.138] < (0.138, 0.16] < (0.16, 0.174] ... (0.244, 0.269] < (0.269, 0.3] < (0.3, 0.342] < (0.342, 0.667]] [0.         0.11578947 0.13829787 0.16       0.17391304 0.18666667
 0.1978022  0.21264368 0.2244898  0.24444444 0.26858877 0.3
 0.34242424 0.66666667]
0         (0.185, 0.205]
1         (0.185, 0.205]
2         (0.185, 0.205]
3         (0.185, 0.205]
4         (0.185, 0.205]
5         (0.185, 0.205]
6         (0.185, 0.205]
7         (0.185, 0.205]
8         (0.185, 0.205]
9         (0.185, 0.205]
10        (0.185, 0.205]
11        (0.185, 0.205]
12        (0.185, 0.205]
13        (0.185, 0.205]
14        (0.185, 0.205]
15        (0.185, 0.205]
16        (0.185, 0.205]
17        (0.185, 0.205]
18        (0.185, 0.205]
19        (0.185, 0.205]
20        (0.185, 0.205]
21        (0.185, 0.205]
22        (0.185, 0.205]
23        (0.185, 0.205]
24        (0.185, 0.205]
25        (0.185, 0.205]
26        (0.185, 0.205]
27        (0.185, 0.205]
28        (0.185, 0.205]
29        (0.185, 0.205]
               ...
186492    (0.208, 0.211]
186493    (0.208, 0.211]
186494    (0.208, 0.211]
186495    (0.208, 0.211]
186496    (0.208, 0.211]
186497    (0.208, 0.211]
186498    (0.208, 0.211]
186499    (0.208, 0.211]
186500    (0.208, 0.211]
186501    (0.208, 0.211]
186502    (0.208, 0.211]
186503    (0.208, 0.211]
186504    (0.208, 0.211]
186505    (0.208, 0.211]
186506    (0.208, 0.211]
186507    (0.185, 0.205]
186508    (0.185, 0.205]
186509    (0.185, 0.205]
186510    (0.185, 0.205]
186511    (0.185, 0.205]
186512    (0.185, 0.205]
186513    (0.185, 0.205]
186514    (0.185, 0.205]
186515    (0.185, 0.205]
186516    (0.185, 0.205]
186517    (0.185, 0.205]
186518    (0.185, 0.205]
186519    (0.205, 0.208]
186520    (0.205, 0.208]
186521    (0.205, 0.208]
Name: state_id_ftg, Length: 186522, dtype: category
Categories (9, interval[float64]): [(0.114, 0.184] < (0.184, 0.185] < (0.185, 0.205] < (0.205, 0.208] ... (0.211, 0.218] < (0.218, 0.228] < (0.228, 0.276] < (0.276, 0.305]] [0.1147541  0.1844071  0.18507912 0.2049162  0.20825344 0.21100917
 0.21804394 0.22828675 0.27570655 0.30461775]
0            (0.35, 0.686]
1            (0.35, 0.686]
2            (0.35, 0.686]
3            (0.35, 0.686]
4            (0.35, 0.686]
5            (0.35, 0.686]
6            (0.35, 0.686]
7            (0.35, 0.686]
8            (0.35, 0.686]
9            (0.35, 0.686]
10           (0.35, 0.686]
11           (0.35, 0.686]
12           (0.35, 0.686]
13           (0.35, 0.686]
14           (0.35, 0.686]
15           (0.35, 0.686]
16           (0.35, 0.686]
17           (0.35, 0.686]
18           (0.35, 0.686]
19           (0.35, 0.686]
20           (0.35, 0.686]
21           (0.35, 0.686]
22           (0.35, 0.686]
23           (0.35, 0.686]
24           (0.35, 0.686]
25           (0.35, 0.686]
26           (0.35, 0.686]
27           (0.35, 0.686]
28           (0.35, 0.686]
29           (0.35, 0.686]
                ...
186492    (-0.001, 0.0845]
186493    (-0.001, 0.0845]
186494    (-0.001, 0.0845]
186495    (-0.001, 0.0845]
186496    (-0.001, 0.0845]
186497    (-0.001, 0.0845]
186498    (-0.001, 0.0845]
186499    (-0.001, 0.0845]
186500    (-0.001, 0.0845]
186501    (-0.001, 0.0845]
186502    (-0.001, 0.0845]
186503    (-0.001, 0.0845]
186504    (-0.001, 0.0845]
186505    (-0.001, 0.0845]
186506    (-0.001, 0.0845]
186507    (-0.001, 0.0845]
186508    (-0.001, 0.0845]
186509    (-0.001, 0.0845]
186510    (-0.001, 0.0845]
186511    (-0.001, 0.0845]
186512    (-0.001, 0.0845]
186513    (-0.001, 0.0845]
186514    (-0.001, 0.0845]
186515    (-0.001, 0.0845]
186516    (-0.001, 0.0845]
186517    (-0.001, 0.0845]
186518    (-0.001, 0.0845]
186519    (-0.001, 0.0845]
186520    (-0.001, 0.0845]
186521    (-0.001, 0.0845]
Name: employee_code_id_ftg, Length: 186522, dtype: category
Categories (15, interval[float64]): [(-0.001, 0.0845] < (0.0845, 0.115] < (0.115, 0.136] < (0.136, 0.151] ... (0.26, 0.288] < (0.288, 0.314] < (0.314, 0.35] < (0.35, 0.686]] [0.         0.08450704 0.11538462 0.13559322 0.1509434  0.16666667
 0.18181818 0.19708029 0.21495327 0.22891566 0.24468085 0.2601626
 0.28787879 0.31428571 0.34969325 0.68571429]
(186523, 52) (186523,)
0         (0.193, 0.198]
1         (0.193, 0.198]
2         (0.193, 0.198]
3         (0.193, 0.198]
4         (0.193, 0.198]
5         (0.193, 0.198]
6         (0.193, 0.198]
7         (0.193, 0.198]
8         (0.193, 0.198]
9         (0.193, 0.198]
10        (0.193, 0.198]
11        (0.193, 0.198]
12        (0.193, 0.198]
13        (0.193, 0.198]
14        (0.193, 0.198]
15        (0.193, 0.198]
16        (0.193, 0.198]
17        (0.193, 0.198]
18        (0.193, 0.198]
19        (0.193, 0.198]
20        (0.193, 0.198]
21        (0.193, 0.198]
22        (0.193, 0.198]
23        (0.193, 0.198]
24        (0.193, 0.198]
25        (0.193, 0.198]
26        (0.193, 0.198]
27        (0.193, 0.198]
28        (0.193, 0.198]
29        (0.193, 0.198]
               ...
186493    (0.221, 0.246]
186494    (0.221, 0.246]
186495    (0.221, 0.246]
186496    (0.221, 0.246]
186497    (0.221, 0.246]
186498    (0.221, 0.246]
186499    (0.221, 0.246]
186500    (0.221, 0.246]
186501    (0.221, 0.246]
186502    (0.221, 0.246]
186503    (0.221, 0.246]
186504    (0.176, 0.181]
186505    (0.176, 0.181]
186506    (0.176, 0.181]
186507    (0.176, 0.181]
186508    (0.176, 0.181]
186509    (0.176, 0.181]
186510    (0.176, 0.181]
186511    (0.176, 0.181]
186512    (0.176, 0.181]
186513    (0.176, 0.181]
186514    (0.176, 0.181]
186515    (0.176, 0.181]
186516    (0.176, 0.181]
186517    (0.176, 0.181]
186518    (0.176, 0.181]
186519    (0.176, 0.181]
186520    (0.176, 0.181]
186521    (0.176, 0.181]
186522    (0.176, 0.181]
Name: branch_id_ftg, Length: 186523, dtype: category
Categories (15, interval[float64]): [(0.136, 0.158] < (0.158, 0.176] < (0.176, 0.181] < (0.181, 0.188] ... (0.246, 0.269] < (0.269, 0.281] < (0.281, 0.292] < (0.292, 0.343]] [0.13676236 0.15770081 0.1762478  0.18060897 0.1883537  0.19274714
 0.19810085 0.20296215 0.20899251 0.21918739 0.22132055 0.24569288
 0.26924229 0.28134879 0.2917847  0.34349394]
0             (0.3, 0.335]
1             (0.3, 0.335]
2             (0.3, 0.335]
3             (0.3, 0.335]
4             (0.3, 0.335]
5             (0.3, 0.335]
6             (0.3, 0.335]
7             (0.3, 0.335]
8             (0.3, 0.335]
9             (0.3, 0.335]
10            (0.3, 0.335]
11            (0.3, 0.335]
12            (0.3, 0.335]
13            (0.3, 0.335]
14            (0.3, 0.335]
15            (0.3, 0.335]
16            (0.3, 0.335]
17            (0.3, 0.335]
18            (0.3, 0.335]
19            (0.3, 0.335]
20            (0.3, 0.335]
21            (0.3, 0.335]
22            (0.3, 0.335]
23            (0.3, 0.335]
24            (0.3, 0.335]
25         (0.0795, 0.119]
26            (0.3, 0.335]
27            (0.3, 0.335]
28            (0.3, 0.335]
29            (0.3, 0.335]
                ...
186493      (0.141, 0.155]
186494      (0.141, 0.155]
186495      (0.141, 0.155]
186496      (0.141, 0.155]
186497      (0.141, 0.155]
186498      (0.141, 0.155]
186499      (0.141, 0.155]
186500      (0.141, 0.155]
186501      (0.141, 0.155]
186502      (0.141, 0.155]
186503      (0.141, 0.155]
186504      (0.141, 0.155]
186505      (0.141, 0.155]
186506        (0.3, 0.335]
186507      (0.141, 0.155]
186508      (0.141, 0.155]
186509      (0.155, 0.171]
186510      (0.141, 0.155]
186511      (0.141, 0.155]
186512      (0.155, 0.171]
186513      (0.141, 0.155]
186514      (0.155, 0.171]
186515        (0.3, 0.335]
186516      (0.141, 0.155]
186517      (0.141, 0.155]
186518      (0.141, 0.155]
186519      (0.141, 0.155]
186520    (-0.001, 0.0795]
186521        (0.274, 0.3]
186522        (0.274, 0.3]
Name: supplier_id_ftg, Length: 186523, dtype: category
Categories (15, interval[float64]): [(-0.001, 0.0795] < (0.0795, 0.119] < (0.119, 0.141] < (0.141, 0.155] ... (0.254, 0.274] < (0.274, 0.3] < (0.3, 0.335] < (0.335, 0.724]] [0.         0.07954545 0.11904762 0.14110429 0.15492958 0.17124736
 0.18235294 0.2        0.21095335 0.2238806  0.23684211 0.25390625
 0.27368421 0.3        0.33508772 0.72413793]
0          (0.224, 0.228]
1          (0.224, 0.228]
2          (0.224, 0.228]
3          (0.224, 0.228]
4          (0.224, 0.228]
5          (0.224, 0.228]
6          (0.224, 0.228]
7          (0.224, 0.228]
8          (0.224, 0.228]
9          (0.224, 0.228]
10         (0.224, 0.228]
11         (0.224, 0.228]
12         (0.224, 0.228]
13         (0.224, 0.228]
14         (0.224, 0.228]
15         (0.224, 0.228]
16         (0.224, 0.228]
17         (0.224, 0.228]
18         (0.224, 0.228]
19         (0.224, 0.228]
20         (0.224, 0.228]
21         (0.224, 0.228]
22         (0.224, 0.228]
23         (0.224, 0.228]
24         (0.224, 0.228]
25        (-0.001, 0.205]
26         (0.224, 0.228]
27         (0.224, 0.228]
28         (0.224, 0.228]
29         (0.224, 0.228]
               ...
186493     (0.215, 0.224]
186494     (0.215, 0.224]
186495     (0.215, 0.224]
186496     (0.215, 0.224]
186497     (0.215, 0.224]
186498     (0.215, 0.224]
186499     (0.215, 0.224]
186500     (0.215, 0.224]
186501     (0.215, 0.224]
186502     (0.215, 0.224]
186503     (0.215, 0.224]
186504     (0.228, 0.273]
186505     (0.228, 0.273]
186506     (0.224, 0.228]
186507     (0.228, 0.273]
186508     (0.228, 0.273]
186509    (-0.001, 0.205]
186510     (0.228, 0.273]
186511     (0.228, 0.273]
186512    (-0.001, 0.205]
186513     (0.228, 0.273]
186514    (-0.001, 0.205]
186515     (0.224, 0.228]
186516     (0.228, 0.273]
186517     (0.228, 0.273]
186518     (0.228, 0.273]
186519     (0.228, 0.273]
186520     (0.205, 0.206]
186521    (-0.001, 0.205]
186522    (-0.001, 0.205]
Name: manufacturer_id_ftg, Length: 186523, dtype: category
Categories (6, interval[float64]): [(-0.001, 0.205] < (0.205, 0.206] < (0.206, 0.215] < (0.215, 0.224] < (0.224, 0.228] < (0.228, 0.273]] [0.         0.20501968 0.20607205 0.21525601 0.22403522 0.22767345
 0.27331142]
0         (-0.001, 0.113]
1         (-0.001, 0.113]
2          (0.242, 0.266]
3         (-0.001, 0.113]
4         (-0.001, 0.113]
5         (-0.001, 0.113]
6         (-0.001, 0.113]
7         (-0.001, 0.113]
8          (0.242, 0.266]
9         (-0.001, 0.113]
10            (0.2, 0.21]
11         (0.242, 0.266]
12         (0.242, 0.266]
13        (-0.001, 0.113]
14        (-0.001, 0.113]
15        (-0.001, 0.113]
16         (0.157, 0.172]
17         (0.242, 0.266]
18        (-0.001, 0.113]
19        (-0.001, 0.113]
20        (-0.001, 0.113]
21        (-0.001, 0.113]
22         (0.242, 0.266]
23         (0.242, 0.266]
24        (-0.001, 0.113]
25        (-0.001, 0.113]
26         (0.242, 0.266]
27         (0.242, 0.266]
28        (-0.001, 0.113]
29         (0.242, 0.266]
               ...
186493    (-0.001, 0.113]
186494    (-0.001, 0.113]
186495     (0.113, 0.138]
186496    (-0.001, 0.113]
186497    (-0.001, 0.113]
186498    (-0.001, 0.113]
186499    (-0.001, 0.113]
186500    (-0.001, 0.113]
186501    (-0.001, 0.113]
186502    (-0.001, 0.113]
186503    (-0.001, 0.113]
186504     (0.157, 0.172]
186505     (0.113, 0.138]
186506     (0.113, 0.138]
186507     (0.157, 0.172]
186508     (0.113, 0.138]
186509     (0.157, 0.172]
186510     (0.113, 0.138]
186511       (0.186, 0.2]
186512     (0.225, 0.242]
186513     (0.113, 0.138]
186514     (0.225, 0.242]
186515     (0.113, 0.138]
186516     (0.113, 0.138]
186517     (0.113, 0.138]
186518     (0.113, 0.138]
186519     (0.157, 0.172]
186520     (0.138, 0.157]
186521    (-0.001, 0.113]
186522    (-0.001, 0.113]
Name: pincode_id_ftg, Length: 186523, dtype: category
Categories (13, interval[float64]): [(-0.001, 0.113] < (0.113, 0.138] < (0.138, 0.157] < (0.157, 0.172] ... (0.242, 0.266] < (0.266, 0.3] < (0.3, 0.343] < (0.343, 0.68]] [0.         0.11320755 0.13793103 0.15686275 0.17241379 0.18604651
 0.2        0.20984456 0.22527473 0.2421875  0.26605505 0.3
 0.34285714 0.68      ]
0         (0.207, 0.208]
1         (0.207, 0.208]
2         (0.207, 0.208]
3         (0.207, 0.208]
4         (0.207, 0.208]
5         (0.207, 0.208]
6         (0.207, 0.208]
7         (0.207, 0.208]
8         (0.207, 0.208]
9         (0.207, 0.208]
10        (0.207, 0.208]
11        (0.207, 0.208]
12        (0.207, 0.208]
13        (0.207, 0.208]
14        (0.207, 0.208]
15        (0.207, 0.208]
16        (0.207, 0.208]
17        (0.207, 0.208]
18        (0.207, 0.208]

In [62]:
train_x.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,state_id_ftg,employee_code_id_ftg,state_pin_code_ftg,state_pin_code_supp_ftg,catg_branch_id_ftg,catg_supplier_id_ftg,catg_manufacturer_id_ftg,catg_pincode_id_ftg,catg_state_id_ftg,catg_employee_code_id_ftg
0,537409,47145,65550,73.23,67,22807,45,1502,1985-07-31,Self employed,...,0.204947,0.404762,0.000000,0.0,"(0.191, 0.195]","(0.339, 0.741]","(0.221, 0.228]",NaN,"(0.203, 0.205]","(0.353, 0.645]"
1,417566,53278,61360,89.63,67,22807,45,1497,1985-08-24,Self employed,...,0.204947,0.404762,0.243902,0.0,"(0.191, 0.195]","(0.339, 0.741]","(0.221, 0.228]","(0.241, 0.268]","(0.203, 0.205]","(0.353, 0.645]"
2,624493,57513,66113,88.48,67,22807,45,1501,1993-12-30,Self employed,...,0.204947,0.404762,0.000000,0.0,"(0.191, 0.195]","(0.339, 0.741]","(0.221, 0.228]",NaN,"(0.203, 0.205]","(0.353, 0.645]"
3,529269,46349,61500,76.42,67,22807,45,1502,1988-01-06,Salaried,...,0.204947,0.404762,0.000000,0.0,"(0.191, 0.195]","(0.339, 0.741]","(0.221, 0.228]",NaN,"(0.203, 0.205]","(0.353, 0.645]"
4,510278,43894,61900,71.89,67,22807,45,1501,1989-04-10,Salaried,...,0.204947,0.404762,0.000000,0.0,"(0.191, 0.195]","(0.339, 0.741]","(0.221, 0.228]",NaN,"(0.203, 0.205]","(0.353, 0.645]"

In [66]:
train_x[train_x.catg_state_id_ftg.isnull()]['state_id_ftg'].value_counts()

train_x[train_x.catg_employee_code_id_ftg.isnull()]['employee_code_id_ftg'].value_counts()

train_x[train_x.catg_manufacturer_id_ftg.isnull()]['manufacturer_id_ftg'].value_counts()


train_x[train_x.catg_supplier_id_ftg.isnull()]['supplier_id_ftg'].value_counts()

In [73]:
train_x.groupby('catg_pincode_id_ftg')['loan_default'].apply(lambda x:x.sum()/x.count())

catg_pincode_id_ftg
(0.0, 0.111]      0.086646
(0.111, 0.138]    0.126931
(0.138, 0.157]    0.148100
(0.157, 0.174]    0.166238
(0.174, 0.188]    0.181213
(0.188, 0.2]      0.194133
(0.2, 0.213]      0.206368
(0.213, 0.223]    0.217807
(0.223, 0.241]    0.232682
(0.241, 0.268]    0.255311
(0.268, 0.299]    0.283729
(0.299, 0.345]    0.318903
(0.345, 0.696]    0.401084
Name: loan_default, dtype: float64

In [74]:
val_x.groupby('catg_pincode_id_ftg')['loan_default'].apply(lambda x:x.sum()/x.count())

catg_pincode_id_ftg
(0.0, 0.111]      0.160196
(0.111, 0.138]    0.163245
(0.138, 0.157]    0.160038
(0.157, 0.174]    0.184055
(0.174, 0.188]    0.194847
(0.188, 0.2]      0.189412
(0.2, 0.213]      0.213987
(0.213, 0.223]    0.208347
(0.223, 0.241]    0.221724
(0.241, 0.268]    0.231490
(0.268, 0.299]    0.246914
(0.299, 0.345]    0.294694
(0.345, 0.696]    0.334757
Name: loan_default, dtype: float64